<!Doctype Html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js"></script>
    </head>
<body>
    {{>header}}
    <h1>{{error}}</h1>
    {{>footer}}   
</body>

</html>