<!--<!Doctype Html> -->
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    {{>header}}
    <h3>This is a {{name}} <span style="color: green">About</span> page from hbs file who is a {{role}}</h3> 
    
    {{>footer}}   
</body>

</html>