<!--<!Doctype Html> -->
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    {{>header}}
    <img class= "portrait" src="/img/me.jpg">
    <h3>This is a {{name}}'s <span style="color: green">About</span> page who is a {{role}}</h3> 
    <p>This site takes data from mapbox.com and darksky.net</p>
    
    {{>footer}}   
</body>

</html>