<!Doctype html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <div>
    {{>header}}

    <a href="/">Weather</a>
    <a href="about">About</a>
    <a href="help">Help</a>

    <form>
        <input placeholder="location">
        <button>search</button>
    </form>

    <p id= "msg1"></p>
    <p id= "msg2"></p>

     <script src="/js/script.js"></script>
     </div>
    {{>footer}}   
</body>

</html> 